*{
  font-family: 'Roboto', sans-serif;
}
.custom-css{
  background: #212121;
  width: 100%;
  height: 100%;
}

.custom-nav-bar{
  background: rgba(33, 33, 33, 0.99);
  height: 56px;
}

.custom-css-grid {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
}